* {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  color: var(--text-color);
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.body-container {
  display: flex;
  padding-bottom: 20px;
  background-color: var(--background-color);
}

:root {
  --navbar-background-color: #000306;
  --background-color: #000306;
  --navbar-color: white;
  --button-background-color: #a68f1a;
  --button-hover-background-color: #7d6608;
  --button-desactivate-background-color: #0322211f;
  --footer-background-color: black;
  --text-color: white;
  --button-text-color: white;
  --input-color: black;
  --search-bar-border-color: #505050;
  --search-bar-focus-color: #ffffff8e;
  --display-option-background-color: #032221;
  --display-active-option-background-color: #3e797873;
}

nav {
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
  flex-direction: row;
  display: flex;
  min-height: 45px;
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}

.navbar-home {
  border-bottom: 1px solid var(--button-background-color);
}

.game-name {
  margin-left: 30px;
  font-weight: 700;
  font-size: larger;
}

.download {
  background-color: var(--button-background-color);
  border: 0px;
  font-size: medium;
  font-weight: 600;
  padding: 10px 15px;
  align-self: center;
  border-radius: 20px;
  margin-right: 20px;
  color: var(--text-color);
}

.download:hover {
  background-color: var(--button-hover-background-color);
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-home {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--background-color);
}

.text-container p {
  margin: 10px 0;
}

footer {
  padding: 20px 0;
  background-color: var(--footer-background-color);
  color: var(--text-color);
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0; /* Asegura que el footer no se reduzca si hay poco contenido */
}

.about-us {
  width: 30%;
}

footer div {
  margin: 10px 0;
}

ul {
  font-weight: bolder;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

ul li {
  display: flex;
}

.about-us div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.help div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li p {
  padding: 0 15px;
}

h3 {
  font-size: large;
}

footer div h2 {
  font-weight: bolder;
}

footer div h3 {
  margin: 3px 0;
}

section h3 {
  color: white;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: inherit; 
}

.icon {
  align-self: center;
}

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.members:hover .member-icon,
.members:hover .member-name {
  color: #4d3f04;
}

.footer-link:hover {
  color: #4d3f04;
}